body {
    font-family: 'Avenir', 'Lora';
    padding: 3em;
    font-size: 18px;
    background-color: #fafafa;
    position: relative;
    color: #2B2B2B;
}

#sidebar {
    float: left;
    width: 120px;
    padding-right: 10%;
    text-align: center;
}

#posts {
    float: left;
    padding-bottom: 3em;
    width: 60%;
}

a {
    color: #f15b29;
    text-decoration: none;
}

a:hover {
    color: #f15b29;
    border-bottom: 2px #f15b29 solid;
}

.title a, #title a, #sidebar a, .posts #article_meta a {
    color: inherit;
}

.title a:hover, #title a:hover, #sidebar a:hover, .posts #article_meta a:hover {
    color: #f15b29;
    border-bottom: none;
}

.posts {
    list-style-type: none;
    padding-left: 0;
}

.posts .title {
    font-size: 1.17em;
}

img {
    width: 120%;
    margin-left: -10%;
}

header h5, .posts .published {
    margin-bottom: 0;
}

#posts li {
    margin-bottom: 1em;
}

article h1, .posts .title {
    margin-top: 0;
}

.user_meta ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.9em;
}

.social li {
    font-size: 0.8em;
}

footer {
    margin-top: 2em;
    margin-bottom: 2em;
}

pre {
    background-color: #fff;
    padding: 1em;
    font-size: .8em;
    line-height: 1.5em;
    border: 1px #ccc solid;
    font-family: 'Inconsolata';
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
    font-family: 'Inconsolata';
}

article h1#title, .posts h1 {
    margin-bottom: 0;
    font-size: 1.5em;
}

#article_meta {
    font-size: 0.9em;
}

#user {
    line-height: 1.1em;
    background-color: #222;
    color: #fff;
    padding: 12px;
}

#user:hover, #user a:hover {
    background-color: #f15b29;
    color: #fff;
}

#rightbar {
    position: fixed;
    right: 1.5em;
    top: 3em;
    width: 15%;
    text-align: center;
    margin: 1em;
    background-color: #fbfbfb;
    opacity: 0;
    transition: 0.5s;
}

.subscribe {
    width: 80%;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 20%;
    padding: 1em;
    background-color: #222;
    color: #fff;
    padding-bottom: 0em;
}

.tweet #___plusone_0 {
    width: 60px !important;
    float: left !important;
}

.follow {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.subscribe input[type="text"] {
    padding: 0.5em;
    width: 80%;
    font-family: "Avenir", "Lora";
    font-size: 16px;
}

.subscribe form {
    margin-bottom: 0em;
}

.subscribe input[type="submit"] {
    color: #fff;
    border: 0;
    background-color: #f15b29;
    font: inherit;
    cursor: hand;
    padding: 0.5em;
    font-family: "Avenir", "Lora";
    font-weight: bold;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

#rightbar:hover {
    opacity: 1 !important;
}

blockquote {
    font-style: italic;
    font-size: 1.1em;
    width: 120%;
    margin-left: -10%;
}

@media screen and (max-width: 640px) {
    #sidebar {
        width: 100%;
        font-size: 1.2em;
    }

    #posts {
        width: 100%;
    }

    #rightbar {
        width: 100%;
        position: relative;
    }
}

#st-search-input {
    padding: 1.1em;
    padding-left: 2em;
    width: 100%;
    border-radius: 0px;
    border: 1px #333 solid;
}

.st-input-powered-by, .st-powered-by {
    display: none !important;
}

.vis {
    margin-left: -10%;
}

.code {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f15b29;
    color: #fbfbfb;
    padding: 10px;
    float: left;
    clear: both;
    width: 50%;
    margin-right: 50%;
    text-align: center;
    opacity: 0.5;
}

.code:hover {
    opacity: 1;
    cursor: hand;
}

.sublist-panel .s-article button {
    background-color: #f15b29 !important;
}

.sublist-panel * {
    font-family: Avenir !important;
}

#lifestream h2 {
    text-align: center;
}

#lifestream {
  border-radius: 7px;
  color: #2B2B2B;
  width: 15%;
  float: left;
  font-size:11px;
  text-align: right;
  padding-left: 3em;
  opacity: 0.3;
}

#lifestream:hover {
    opacity: 1;
}

#lifestream a {
  color: #2B2B2B;
  text-decoration: none;
}
#lifestream a:hover {
  color: #2B2B2B;
  border-bottom-width: 1px;
}
#lifestream ul {
  padding: 10px;
  padding-top: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

#lifestream li {
  padding: 10px 0px 10px 25px;
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom: 1px #2B2B2B dotted;
  box-sizing: border-box;
}
#lifestream li:hover {
  color: #2B2B2B;
}
#lifestream .timeago {
  opacity: .5;
}


@media screen and (max-width: 1144px) {
    #lifestream {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #lifestream {
        display: block;
        width: 100%;
        padding-left: 0;
    }
}