{% extends "base.html" %}
{% block content %}
	{% include "header.html" %}
	<dl>
		<ol class="posts">
			{% for article in articles_page.object_list %}
				<li>
					<h1 class="title">
						<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
					</h1>
					<div id="article_meta">
						{% if article.tags %}
							{% for ttag in article.tags %}
								{% if ttag != tag %}
									<a href="{{ SITEURL }}/{{ ttag.url }}">{{ ttag }}</a>
									{% if not loop.last %}
										·
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				<!--<div class="entry-content"> {{ article.summary }} </div>-->
				</li>
			{% endfor %}
		</ol>
	</dl>

	{% include 'pagination.html' %}
{% endblock content %}
